*{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body{    
  background: url(assets/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.App{
  max-width: 1300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  height: auto;
}

.CityInputForm{
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
  font-size: 1.5rem;
  background-color: rgba(240, 248, 255, 0.31);
  border-radius: 20px;
  padding: 20px;
}
.CityInputForm label {
  font-weight: 600;
  margin-right: 10px;
}
.CityInputForm input {
  width: 300px;
  height: 40px;
  padding-left: 10px;
  font-size: 1.2rem;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.336);
  border-radius: 5px;
}
.CityInputForm input::placeholder {
  font-size: 1.2rem;
}
.CityInputForm .formBtn {
  margin-left: 10px;
  height: 40px;
  border-radius: 5px;
  background-color: transparent;
  border: none;
  color: black;
  cursor: pointer;
  font-weight: 700;
  font-size: 1rem;
  padding: 0 10px;
}
.CityInputForm .formBtn:hover{
  background-color: rgba(245, 245, 245, 0.81);
}


.MainWindow, .isLoading{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 2rem;
  background-color: rgba(240, 248, 255, 0.31);
  padding: 50px;
  border-radius: 20px;
}
.MainWindow h2{
  margin-bottom: 15px;
}
.weatherIcon{
  width:200px;
}
.weather, .temp, .day{
  font-size: 1.6rem;
}

.noCity{
  margin-left: 30px;
  text-align: left;
}


.details{
  display: inline-flex;
  justify-content: space-between;
  width: 300px;
  margin-top: 40px;
  align-items:flex-start;
}
h3 img{
  width: 25px;
}

.moreDetails{
  background-color: rgba(245, 245, 245, 0.659);
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  margin:50px 0;
  padding: 20px;
  font-size: 1.3rem;
}
.infoDiv{
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: 500;
}
.infoDiv img{
  width: 50px;
  margin-right: 100px ;
  margin-left: 100px;
  filter: drop-shadow(1px 0px 3px #000000);
}

.hidden{
  display: none;
}

/* @media  (max-width: 1200px) {
  .CityInputForm{
      width: 45%;
  }
  .CityInputForm input{
      width: 200px;
      height: 30px;
  }
  .CityInputForm label{
      font-size: 1.5rem;
  }

  .MainWindow{
    width: 70%;
    padding: 30px;
  }
  .divMainWindow h2{
    font-size: 2.7rem;
  }
  .weatherIcon{
      width:180px;
  }
  .wetherIcon{
      width:200px;
    }
  .weather, .temp, .day{
      font-size: 1.6rem;
  }
  .CityInputForm .formBtn {
      height: 30px;
      font-size: 1rem;
  }
  .noCity{
      font-size: 1.9rem;
  }
  .moreDetails{
    width: 70%;
    font-size: 1.25rem;
  }
  .infoDiv img{
    width: 70px ;
    margin-top: 0;
    margin-right: 45px;
    margin-left: 15px;
    margin-bottom: 10px;
  }
} */

@media(max-width: 992px) {
  .CityInputForm{
      width: 50%;
  }
  .CityInputForm input{
      width: 150px;
      height: 25px;
  }
  .CityInputForm input::placeholder {
      font-size: 1.2rem;
  }
  .CityInputForm label{
      font-size: 1.4rem;
  }
  .MainWindow{
    width: 70%;
    padding: 30px;
  }
  .divMainWindow h2{
    font-size: 2.7rem;
  }
  .weatherIcon{
      width:180px;
  }
  .weather, .temp, .day{
      font-size: 1.5rem;
  }
  .CityInputForm .formBtn {
      height: 25px;
      font-size: 1.2rem;
  }
  .moreDetails{
    width: 70%;
    font-size: 1.25rem;
  }
  .infoDiv img{
    width: 70px ;
    margin-top: 0;
    margin-right: 100px;
    margin-left: 55px;
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .CityInputForm{
      width: 50%;
  }
  .CityInputForm input{
      width: 100px;
      height: 20px;
  }
  .CityInputForm input::placeholder {
      font-size: 1rem;
  }
  .CityInputForm label{
      font-size: 1rem;
  }
  .MainWindow{
    width: 70%;
    padding: 30px;
  }
  .divMainWindow h2{
    font-size: 2.2rem;
  }
  .weatherIcon{
      width:150px;
    }
  .weather, .temp, .day{
      font-size: 1.3rem;
  }
  .noCity{
      font-size: 1.3rem;
  }
  .CityInputForm .formBtn {
      height: 20px;
      font-size: 0.9rem;
  }
  .moreDetails{
    width: 70%;
    font-size: 1.1rem;
  }
  .infoDiv img{
    width: 50px ;
    margin-top: 0;
    margin-right: 100px;
    margin-left: 50px;
    margin-bottom: 10px;
  }
}

@media (max-width: 600px) {
  .CityInputForm{
      width: 60%;
  }
  .CityInputForm input{
      width: 85%;
      height: 20px;
  }
  .CityInputForm input::placeholder {
      font-size: 1rem;
  }
  .CityInputForm label{
      font-size: 1rem;
      width: 90%;
  }
  .MainWindow{
    width: 70%;
    padding: 30px;
  }
  .divMainWindow h2{
    font-size: 2.2rem;
  }
  .weatherIcon{
      width: 150px;
    }
  .weather, .temp, .day{
      font-size: 1.1rem;
  }
  .noCity{
    font-size: 1.3rem;
  }
  .CityInputForm .formBtn {
      height: 20px;
      font-size: 0.9rem;
  }

  .moreDetails{
    width: 70%;
    font-size: 1.1rem;
  }
  .infoDiv img{
    width: 50px ;
    margin-top: 0;
    margin-right: 45px;
    margin-left: 20px;
    margin-bottom: 7px;
  }
}

@media (max-width: 450px) {
  .CityInputForm{
      width: 70%;
  }
  .CityInputForm input{
      width: 90%;
      height: 20px;
  }
  .CityInputForm input::placeholder {
      font-size: 0.9rem;
  }
  .CityInputForm label{
      font-size: 1rem;
      width: 93%;
      margin-right: 1px;
  }
  .MainWindow{
      width: 70%;
      padding: 30px;
    }
  .divMainWindow h2{
    font-size: 2.2rem;
  }
  .weatherIcon{
      width:75px;
    }
  .weather, .temp, .day{
      font-size: 1rem;
  }
  .noCity{
    font-size: 1.3rem;
  }
  .CityInputForm .formBtn {
      height: 25px;
      font-size: 0.9rem;
      margin-left: 2px;
  }

  .moreDetails{
    width: 70%;
    font-size: 1rem;
  }
  .infoDiv img{
    width: 40px ;
    margin-top: 0;
    margin-right: 45px;
    margin-left: 5px;
    margin-bottom: 5px;
  }
}